{{ "{% extends 'ProbesysAdminBundle::base.html.twig' %}" }}

{{ "{% block pagetitle %}" }}
    {{ "{{ '"~ entity ~".entity_delete'|trans({}, '"~ bundle_name ~"') }}" }}
{{ "{% endblock pagetitle %}" }}

{{ "{% block content %}" }}
<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="/admin/">{{ "{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}" }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">{{ "{{ '"~ entity ~".entity_plural'|trans({}, '"~ bundle_name ~"') }}" }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ "{{ '"~ entity ~".entity_singular'|trans({}, '"~ bundle_name ~"') }}" }} #{{ '{{ entity.id }}' }}</a>
            </li>
            <span class="divider">/</span>
            <li class="active">
                {{ "{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}" }}
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon new_collection_link" rel="" title="">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}" tabindex="2">
                    <i class="icon-eye-open"></i>
                    <span>{{ "{{ 'generic.show'|trans({}, 'ProbesysAdminBundle') }}" }}</span>
                </a>
            </li>
            {% if 'edit' in actions %}
            <li class="icon new_collection_link" rel="" title="">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" tabindex="2">
                    <i class="icon-pencil"></i>
                    <span>{{ "{{ 'generic.edit'|trans({}, 'ProbesysAdminBundle') }}" }}</span>
                </a>
            </li>
            {% endif %}
            {% if 'delete' in actions %}
            <li class="icon new_collection_link active" rel="" title="">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" tabindex="2">
                    <i class="icon-remove"></i>
                    <span>{{ "{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}" }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="alert alert-block alert-error fade in">
            <h4 class="alert-heading">{{ "{{ 'generic.delete_confirm'|trans({}, 'ProbesysAdminBundle') }}" }}</h4>
        </div>
        <table class="record_properties">
            <tbody>
            {%- for field, metadata in fields %}

                <tr>
                    <th>{{ field|capitalize }}</th>

                {%- if metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

                {%- endif %}

                </tr>

            {%- endfor %}

            </tbody>
        </table>

        {% set hide_edit, hide_delete = false, false %}
        <form method="post" id="delete_{{ entity|lower }}_{{ '{{ entity.id }}' }}" class="delete_{{ entity|lower }}" action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}">
            <div class="form-actions">
                <button type="submit" name="_save" class="btn btn-danger">
                    <i class="icon-white icon-ok"></i>
                    {{ "{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}" }}
                </button>
                <span class="extra_buttons">
                    <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn">
                        <i class="icon-remove"></i>
                        {{ "{{ 'generic.cancel'|trans({}, 'ProbesysAdminBundle') }}" }}
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>
{{ "{% endblock %}" }}
