{{ "{% extends 'ProbesysAdminBundle::base.html.twig' %}" }}

{{ "{% block pagetitle %}" }}
    {{ "{{ '"~ entity ~".entity_create'|trans({}, '"~ bundle_name ~"') }}" }}
{{ "{% endblock pagetitle %}" }}

{{ "{% block content %}" }}
<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="{{ "{{ path('admin') }}" }}">{{ "{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}" }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">{{ "{{ '"~ entity ~".entity_plural'|trans({}, '"~ bundle_name ~"') }}" }}</a>
            </li>
            <span class="divider">/</span>
            <li class="active">
                {{ "{{ 'generic.create'|trans({}, 'ProbesysAdminBundle') }}" }}
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon index_collection_link" rel="" title="">
                <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
                    <i class="icon-th-list"></i>
                    <span>{{ "{{ 'generic.list'|trans({}, 'ProbesysAdminBundle') }}" }}</span>
                </a>
            </li>
{% if 'new' in actions %}
            <li class="icon new_collection_link active" rel="" title="">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" tabindex="2">
                    <i class="icon-plus"></i>
                    <span>{{ "{{ 'generic.create'|trans({}, 'ProbesysAdminBundle') }}" }}</span>
                </a>
            </li>
{% endif %}
        </ul>
		<form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} class="form-horizontal denser">
		    {{ "{{ form_widget(form) }}" }}
		    <fieldset>
{% include 'views/others/record_actions.html.twig' %}
		    </fieldset>
		</form>
	</div>
</div>
{{ "{% endblock content %}" }}
