                <div class="form-actions">
                    <button type="submit" name="action" value="save" class="btn btn-primary"><i class="icon-white icon-ok"></i>{{ "{{ 'generic.save'|trans({}, 'ProbesysAdminBundle') }}" }}</button>
                    <span class="extra_buttons">
                        <button type="submit" name="action" value="save_and_add" class="btn btn-info">{{ "{{ 'generic.save_and_add'|trans({}, 'ProbesysAdminBundle') }}" }}</button>
                        <button type="submit" name="action" value="save_and_edit" class="btn btn-info">{{ "{{ 'generic.save_and_edit'|trans({}, 'ProbesysAdminBundle') }}" }}</button>
                        <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn"><i class="icon-remove"></i>{{ "{{ 'generic.cancel'|trans({}, 'ProbesysAdminBundle') }}" }}</a>
                    </span>
                </div>
